{% extends 'base.html' %}

{% block title %}Ladies Get Coffee{% endblock %}

{% block content %}
  <h2>Find your mentor and mentee!</h2>

  <table>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Current Job</th>
          <th>Email</th>
      </tr>
      <!--
      Pagination might be a cool feature for the app, to prevent listing too many
      profiles in one go.

      Some django pagination guides can be found here:
      https://docs.djangoproject.com/en/3.0/topics/pagination/

      -->
      {% for profile in profiles %}
      <tr>
          <td>{{ profile.first_name }}</td>
          <td>{{ profile.last_name }}</td>
          <td>{{ profile.current_job }}</td>
          <td>{{ profile.email }}</td>
      </tr>
      {% endfor %}
  </table>

{% endblock %}
