{% extends 'base.html' %}

{% block title %}Ladies Get Coffee{% endblock %}

{% block content %}
  <h2>Find your mentor and mentee!</h2>

  <table>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Current Job</th>
          <th>Company</th>
          <th>University</th>
          <th>Email</th>
          <th>Message</th>
      </tr>
      {% for profile in profiles %}
      <tr>
          <td>{{ profile.first_name }}</td>
          <td>{{ profile.last_name }}</td>
          <td>{{ profile.current_job }}</td>
          <td>{{ profile.company }}</td>
          <td>{{ profile.university }}</td>
          <td>{{ profile.email }}</td>
          <td>
            <form action="messages/new_message" method="get">
              {% csrf_token %}
              <input type="hidden" name="receiving_user_id" value="{{ profile.user.id }}">
              <button type="submit">Message</button>
            </form>
          </td>
      </tr>
      {% endfor %}
  </table>

{% endblock %}
